:root {
  --blur-color: rgba(0, 0, 0, 0.7);
  --blur: blur(100px);
  --text-color: white;
  --vr-color: rgba(255, 255, 255, 0.5);
}

body {
  margin: 0;
  /* background-color: rgba(0, 0, 0, 0.9); */
  font-family: 'Inter', sans-serif;
}

.vr {
  width: 2px;
  height:20px;
  background-color: var(--vr-color);
}